<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="neko.movie.nekomoviemember.mapper.MemberLevelDictMapper">
    <select id="getMemberLevelDictInfo" resultType="neko.movie.nekomoviemember.vo.MemberLevelDictVo">
        select member_level_dict.member_level_id, member_level_dict.role_id,
               user_role.role_type, member_level_dict.price, member_level_dict.level,
               member_level_dict.create_time, member_level_dict.update_time from member_level_dict
        join user_role
        on member_level_dict.role_id = user_role.role_id
        where member_level_dict.is_delete = 0
    </select>

    <select id="getRoleTypeByMemberLevelId" resultType="String">
        select role_type from user_role
        where role_id = (
            select role_id from member_level_dict
            where member_level_id = #{memberLevelId}
        )
    </select>

    <select id="getMemberLevelDictMemberLevelId" resultType="neko.movie.nekomoviemember.vo.MemberLevelDictVo">
        select member_level_dict.member_level_id, member_level_dict.role_id,
               user_role.role_type, member_level_dict.price, member_level_dict.level,
               member_level_dict.create_time, member_level_dict.update_time from member_level_dict
        join user_role
        on member_level_dict.role_id = user_role.role_id
        where member_level_dict.member_level_id = #{memberLevelId} and member_level_dict.is_delete = 0
    </select>
</mapper>
