<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="neko.movie.nekomoviemember.mapper.UserRoleRelationMapper">
    <select id="getRoleIdsByUid" resultType="int">
        select role_id from user_role_relation
        where uid = #{uid} and is_delete = 0
    </select>
</mapper>
