<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="neko.movie.nekomoviemember.mapper.UserRoleMapper">
    <select id="getMemberLevelRoleNumberByRoleIds" resultType="int">
        select count(role_id) from user_role
        where role_id in
        <foreach collection="roleIds" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
        and type = 2
    </select>
</mapper>
