<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="neko.movie.nekomovievideo.mapper.DiscountInfoMapper">
    <select id="getDiscountInfoNearTwoDaysOrAvailable" resultType="neko.movie.nekomovievideo.vo.DiscountInfoVo">
        select discount_id, discount_name, discount_rate,
               number - lock_number number, start_time, end_time from discount_info
        where (to_days(start_time) - to_days(now()) <![CDATA[<=]]> 2 and start_time >= now() or
               start_time <![CDATA[<=]]> now() and end_time >= now()) and is_end = 0 and is_delete = 0
        limit 1
    </select>

    <update id="lockStock">
        update discount_info
        set lock_number = lock_number + #{lockNumber}, update_time = #{updateTime}
        where discount_id = #{discountId} and number >= lock_number + #{lockNumber}
    </update>

    <update id="decreaseStock">
        update discount_info
        set number = number - #{lockNumber}, lock_number = lock_number - #{lockNumber}, update_time = #{updateTime}
        where discount_id = #{discountId}
    </update>

    <update id="unlockStock">
        update discount_info
        set lock_number = lock_number - (select lock_number from discount_lock_log
            where order_id = #{orderId} and status = ${@neko.movie.nekomoviecommonbase.utils.entity.StockStatus@LOCKING}), update_time = #{updateTime}
        where discount_id = #{discountId}
    </update>
</mapper>
