<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="neko.movie.nekomovievideo.mapper.VideoSeriesInfoMapper">
    <select id="getVideoSeriesInfoForAdminByQueryLimitedPage" resultType="neko.movie.nekomovievideo.vo.VideoSeriesInfoVo">
        select video_series_id, video_info_id, series_number,
        video_url, weight_id, create_time, update_time from video_series_info
        where is_delete = 0 and video_info_id = #{videoInfoId}
        <if test="@org.springframework.util.StringUtils@hasText(queryWords)">
            and series_number = #{queryWords}
        </if>
        order by series_number
        limit #{start}, #{limited}
    </select>

    <select id="getVideoSeriesInfoForAdminByQueryLimitedPageNumber" resultType="int">
        select count(video_series_id) from video_series_info
        where is_delete = 0 and video_info_id = #{videoInfoId}
        <if test="@org.springframework.util.StringUtils@hasText(queryWords)">
            and series_number = #{queryWords}
        </if>
    </select>

    <select id="getVideoSeriesInfosByVideoInfoId" resultType="neko.movie.nekomovievideo.vo.VideoSeriesInfoUserVo">
        select video_series_id, video_info_id, series_number,
               weight_id, create_time, update_time from video_series_info
        where is_delete = 0 and video_info_id = #{videoInfoId}
        order by series_number
    </select>

    <select id="getVideoWatchHistoryVosByVideoInfoIds" resultType="neko.movie.nekomovievideo.vo.VideoWatchHistoryVo">
        select video_series_info.video_series_id, video_series_info.video_info_id,
               video_series_info.series_number, video_info.video_name,
               video_info.video_description, video_info.video_image from video_series_info
        join video_info
        on video_series_info.video_info_id = video_info.video_info_id
        where video_series_info.video_series_id in
        <foreach collection="videoInfoIds" item="id" separator="," open="(" close=") and ">
            #{id}
        </foreach>
        video_info.status = ${@neko.movie.nekomoviecommonbase.utils.entity.VideoStatus@UP}
        and video_series_info.is_delete = 0
    </select>

    <select id="getVideoWatchHistoryVoByVideoInfoId" resultType="neko.movie.nekomovievideo.vo.VideoWatchHistoryVo">
        select video_series_info.video_series_id, video_series_info.video_info_id,
        video_series_info.series_number, video_info.video_name,
        video_info.video_description, video_info.video_image from video_series_info
        join video_info
        on video_series_info.video_info_id = video_info.video_info_id
        where video_series_info.video_series_id = #{videoInfoId} and
              video_info.status = ${@neko.movie.nekomoviecommonbase.utils.entity.VideoStatus@UP} and
              video_series_info.is_delete = 0
    </select>
</mapper>
